---
layout: default
title: Home
---

<div class="index">
  {% for post in paginator.posts %}

  {% assign postseries = null %}
  {% for series in site.series %}
    {% if series.title == post.seriestitle %}
       {% assign postseries = series %}
       {% break %}
    {% endif %}
  {% endfor %}

  <div class="post">
    {% if postseries %}
      {% include seriestitle.html series=postseries %}
    {%endif %}
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">{{ post.title }}
        {% if post.subtitle %}<span class="post-subtitle">{{ post.subtitle}}</span>{% endif %}
      </a>
    </h1>

    <div class="post-tags">
      <ul class="tags">
        {% for tag in post.tags %}<li> {{ tag }}</li>{% endfor %}
      </ul>
    </div>

    <div class="post-date">{{ post.date | date: "%B %Y" }}</div>
  </div>
  {% endfor %}
</div>
