:root {
  --color-bg: #fdf6e3;
  --color-bg-darker: #faeabf;
  --color-fg: #333;
  --color-emph: #cb4b16;
  --color-link: #268bd2;
  --color-muted: #93A1A1;

  --font-size: 16px;
  --font: "Noto Sans", sans-serif;
  --font-mono: "Noto Sans Mono", monospace;
}

html, body {
  background-color: var(--color-bg) !important;
  font-size: var(--font-size);
  line-height: 1.5;
}

body, .sidebar {
  font-family: var(--font);
}

.sidebar {
  background: var(--color-bg-darker);
}

.sidebar a {
  color: var(--color-fg);
}

.sidebar a:hover {
  background: var(--color-bg);
}

@media (min-width: 48em) {
  :root {
    --font-size: 24px!important;
  }
}

h1 {
  font-size: calc(2.2*var(--font-size));
}

h2 {
  font-size: calc(1.8*var(--font-size));
}

h3 {
  font-size: calc(1.5*var(--font-size));
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font);
  font-weight: 400;
  color: var(--color-emph);
  width: 100%;
}

/* INDEX PAGE */

.index .post {
  border: 1px solid var(--color-fg);
  padding: var(--font-size) var(--font-size) 0 var(--font-size);
}

.index .post-title {
  font-size: calc(1.5*var(--font-size));
  margin-bottom: calc(0.5*var(--font-size));
}

.index .post-title a {
  color: var(--color-emph);
}


/* POST */
.page,
.post {
  margin-bottom: 4em;
  text-align: justify;
  hyphens: auto;
}

.toc {
  width: 14rem;
  margin-left: -21rem;
  padding-right: 2rem;
  padding-top: 6rem;
  position: fixed;
  font-size: 90%;
  display: none;
}

.toc a {
  color: var(--color-muted) !important;
  text-decoration: none;
}

.toc a:hover {
  color: var(--color-fg) !important;
}

div.post-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.tags {
  margin: auto;
  list-style-type: None;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

ul.tags li {
  margin-left: 0;
  padding: 0 0.5em;
  list-style-type: None;
  background: var(--color-bg-darker);
  color: var(--color-emph);
  border-radius: 2px;
  font-size: calc(0.8*var(--font-size));
}

.index > * > div.post-tags {
  align-items: flex-start!important;
}

@media (min-width: 38rem) {
  .post {
    width: 28rem;
  }

  .toc {
    width: 8rem;
    margin-left: -10rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 82rem) {
  .post {
    width: 40rem;
  }
  .toc {
    display: block;
    width: 20rem;
    margin-left: -24rem;
    padding-right: 2rem;
  }
}

.toc ul {
  list-style-type: None;
  padding-left: 12px;
}

.toc ul li {

  margin-bottom: 8px;
  margin-left: 0;
  padding-left: 0;
}

.toc a {
  color: var(--color-fg);
}

.post-title {
  font-weight: 800;
  margin-bottom: calc(2*var(--font-size));
}

.post-title .post-subtitle {
  font-weight: 200;
}

.post-date {
  text-align: right;
  color: var(--color-fg)
}


/* Images, Code Blocks And Figures
 * We use em strong as the signal for making the text a caption
 * The figure and images don't have a botto margin.
 * The margin is added by the following paragraph, but only if it is not a
 * caption.
 * */

code {
  font-family: var(--font-mono);
  color: var(--color-emph);
  background-color: var(--color-bg-darker);
  white-space: nowrap;
}

pre code {
  white-space: pre;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

figure.highlight {
  border: 1px solid var(--color-muted)!important;
}

p img {
  margin-left: auto!important;
  margin-right: auto!important;
}

p img,
figure {
  margin-bottom: 0 !important;
}

em strong {
  font-weight: 400;
  font-size: calc(0.8*var(--font-size));
  text-align: center !important;
  line-height: calc(0.8*var(--font-size)) !important;
}

p img + p,
figure + p { /* Non-caption paragraphs */
  margin-top: var(--font-size);
}

p:has(strong) { /* caption paragraph */
  width: 100%;
  text-align: center !important;
  margin-top: 0;
  display: inline-block;
}

.container.content {
  padding-top: calc(2*var(--font-size));
}

.footnotes {
  border-top: 2px solid var(--color-muted)!important;
  padding-top: var(--font-size);
  margin-top: calc(2*var(--font-size));
  font-size: calc(0.8*var(--font-size));
}

.flowers {
  width: 100%;
  font-size: calc(5*var(--font-size));
  text-align: center;
  margin-bottom: var(--font-size);
}
