:root {
  --color-bg: #fdf6e3;
  --color-bg-darker: #faeabf;
  --color-fg: #333;
  --color-emph: #6c71c4;
  --color-emph2: #d33682;
  --color-link: #268bd2;
  --color-muted: #93a1a1;

  --font-size: 16px;
  --font: 'Noto Sans', sans-serif;
  --font-mono: 'Noto Sans Mono', monospace;
  --font-serif: 'Noto Serif', serif;

  --padding-small: 6px;
}

html,
body {
  background-color: var(--color-bg) !important;
  font-size: var(--font-size);
  line-height: 1.5;
}

body,
.sidebar {
  font-family: var(--font);
}

.sidebar {
  background: var(--color-bg-darker);
}

.sidebar a {
  color: var(--color-fg);
}

.sidebar a:hover {
  background: var(--color-bg);
}

@media (min-width: 48em) {
  :root {
    --font-size: 24px !important;
  }
}

a,
a strong {
  color: var(--color-link);
}

h1 a,
h1 a strong {
  color: var(--color-fg);
}

h1 {
  font-size: calc(2.2 * var(--font-size));
}

h2 {
  font-size: calc(1.8 * var(--font-size));
}

h3 {
  font-size: calc(1.5 * var(--font-size));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  font-weight: 400;
  color: var(--color-emph);
  width: 100%;
}

blockquote:has(p.emphasis) {
  color: var(--color-emph2);
  text-align: left !important;
  border: none;
  font-family: var(--font-serif);
  font-size: calc(1.3 * var(--font-size));
  line-height: calc(1.7 * var(--font-size));
  font-weight: bold;
}

/* INDEX PAGE */

.index .post {
  border: 1px solid var(--color-fg);
  padding: var(--font-size) var(--font-size) 0 var(--font-size);
  margin-bottom: var(--font-size);
}

.index .post-title {
  font-size: calc(1.5 * var(--font-size));
  margin-bottom: calc(0.5 * var(--font-size));
}

.index .post-date {
  font-size: calc(0.8 * var(--font-size));
}

/* POST, SERIES PAGE */
.page,
.post,
.series {
  margin-bottom: 4em;
  text-align: justify;
  hyphens: auto;
}

.toc {
  padding-right: 2rem;
  padding-top: 6rem;
  position: fixed;
  font-size: 90%;
  display: none;
}

.toc a {
  color: var(--color-muted) !important;
  text-decoration: none;
}

.toc a:hover {
  color: var(--color-fg) !important;
}

div.post-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.tags {
  margin: auto;
  list-style-type: None;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

ul.tags li {
  margin-left: 0;
  padding: 0 0.5em;
  list-style-type: None;
  background: var(--color-bg-darker);
  color: var(--color-emph);
  border-radius: 2px;
  font-size: calc(0.8 * var(--font-size));
}

.index > * > div.post-tags {
  align-items: flex-start !important;
}

@media (min-width: 38rem) {
  .post,
  .series {
    width: 28rem;
  }

  .toc {
    width: 8rem;
    margin-left: -10rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 82rem) {
  .post,
  .series {
    width: 40rem;
  }
  .toc {
    display: block;
    width: 20rem;
    margin-left: -22rem;
    padding-right: 1rem;
  }
}

.toc ul {
  list-style-type: None;
}

.toc ul li {
  margin-bottom: 8px;
  margin-left: 0;
  padding-left: 0;
}

.toc a {
  color: var(--color-fg);
}

.post-title,
.series-title {
  font-weight: 800;
}

.post-title {
  margin-bottom: calc(2 * var(--font-size));
}

.series-title,
.series-subtitle {
  color: var(--color-emph2);
}

.series-subtitle {
  font-weight: 400;
}

.post .series-title {
  font-size: var(--font-size) !important;
}

.post-title .post-subtitle,
h1 > .series-subtitle {
  font-weight: 200;
}

.post-version {
  display: flex;
  margin-bottom: calc(0.8 * var(--font-size));
}

.versionlink {
  margin-left: auto;
  font-size: calc(0.8 * var(--font-size));
  display: inline-block;
  position: relative;
}

.versionlink .tooltip {
  visibility: hidden;
  font-size: calc(0.6 * var(--font-size));
  background-color: var(--color-link);
  color: var(--color-bg);
  text-align: center;
  padding: 2px 5px;
  width: 16em;
  border-radius: 5px;

  z-index: 1;
  position: absolute;
  bottom: 100%;
  right: 0;
}

.versionlink:hover .tooltip {
  visibility: visible;
}

.post-date {
  text-align: right;
  color: var(--color-fg);
  font-size: calc(0.6 * var(--font-size)) !important;
}

.post-content,
.series-content {
  margin-top: var(--font-size);
}

.series-info {
  margin-top: calc(2 * var(--font-size));
  border: 4px solid var(--color-emph2);
  padding: var(--font-size);
}

.series-info,
.series-info .series-title {
  font-size: calc(0.8 * var(--font-size)) !important;
}

/* Images, Code Blocks And Figures
 * We use em strong as the signal for making the text a caption
 * The figure and images don't have a botto margin.
 * The margin is added by the following paragraph, but only if it is not a
 * caption.
 * */

code {
  font-family: var(--font-mono);
  color: var(--color-emph);
  background-color: var(--color-bg-darker);
  white-space: nowrap;
}

pre code {
  white-space: pre;
}

div[class^='language-'] {
  position: relative;
}

div[class^='language-']::before {
  --element-padding: 12px;
  --element-font-size: calc(0.8 * var(--font-size));

  position: absolute;
  padding: 0 var(--element-padding);
  font-size: var(--element-font-size);
  font-family: var(--font-mono);

  top: calc(-0.8 * var(--element-font-size));
  right: var(--element-padding);

  color: var(--color-muted);
  background: var(--color-bg);
}

.language-css::before {
  content: 'css';
}

.language-elixir::before {
  content: 'elixir';
}

.language-javascript::before {
  content: 'javascript';
}

.language-lua::before {
  content: 'lua';
}

.language-php::before {
  content: 'php';
}

.language-python::before {
  content: 'python';
}

.language-ruby::before {
  content: 'ruby';
}

.language-rust::before {
  content: 'rust';
}

figure {
  margin-left: 0;
  margin-right: 0;
}

div.highlight {
  border: None !important;
}

figure.highlight {
  border: 1px solid var(--color-muted) !important;
}

p img {
  margin-left: auto !important;
  margin-right: auto !important;
}

p img,
figure {
  margin-bottom: 0 !important;
}

.caption {
  font-weight: 400;
  font-style: italic;
  font-size: calc(0.8 * var(--font-size));
  text-align: center !important;
  line-height: calc(0.8 * var(--font-size)) !important;
}

p img + p,
figure + p {
  /* Non-caption paragraphs */
  margin-top: var(--font-size);
}

p:has(strong) {
  /* caption paragraph */
  width: 100%;
  text-align: center !important;
  margin-top: 0;
  display: inline-block;
}

.container.content {
  padding-top: calc(2 * var(--font-size));
}

.footnotes {
  border-top: 2px solid var(--color-muted) !important;
  padding-top: var(--font-size);
  margin-top: calc(2 * var(--font-size));
  font-size: calc(0.8 * var(--font-size));
}

.flowers {
  width: 100%;
  font-size: calc(5 * var(--font-size));
  text-align: center;
  margin-bottom: var(--font-size);
}
