---
layout: default
---

<div class="toc">
  {% include toc.html html=content %}
</div>

{% assign postseries = null %}
{% for series in site.series %}
  {% if series.title == page.seriestitle %}
     {% assign postseries = series %}
     {% break %}
  {% endif %}
{% endfor %}

<div class="post">
  {% if postseries %}
    {% include seriestitle.html series=postseries %}
  {%endif %}

  <h1 class="post-title">
    {{ page.title }}
    {% if page.subtitle %}
      <span class="post-subtitle">{{ page.subtitle }}</span>
    {% endif %}
  </h1>
  <div class="post-tags">
    <ul class="tags">
      {% for tag in page.tags %}<li> {{ tag }}</li>{% endfor %}
    </ul>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  {% if postseries %}
    <div class="series-info">
      <p>This post is part of a series: {% include seriestitle.html
      series=postseries %}</p>

      {% include serieslist.html series=postseries %}
    </div>
  {% endif %}
</div>
