---
layout: default
---

<div class="toc">
  {% include toc.html html=content %}
</div>

<div class="post">
  {% if page.series %}
  <h1 class="series-title">
    {{ page.series }}
    {% if page.series_subtitle %}
      <span class="series-subtitle">{{ page.series_subtitle }}</span>
    {% endif %}
  </h1>
  </h1>
  {%endif %}

  <h1 class="post-title">
    {{ page.title }}
    {% if page.subtitle %}
      <span class="post-subtitle">{{ page.subtitle }}</span>
    {% endif %}
  </h1>
  <div class="post-tags">
    <ul class="tags">
      {% for tag in page.tags %}<li> {{ tag }}</li>{% endfor %}
    </ul>
  </div>
  {{ content }}
</div>
